<h1>Wohneinheiten</h1>
<br>
<div id="appartmentList">
  <div class="row">
    <div class="col-lg-offset-8 col-lg-4">
      <button routerLink="/apartmentEditor" id="newApartmentBtn" class="btn btn-block greenButton">
        <span class="glyphicon glyphicon-plus"></span>
        Neue Wohneinheit erstellen
      </button>
    </div>
  </div>
  <div class="row apartmentListItem" *ngFor="let apartment of apartments">
    <div class="col-lg-2"><span class="glyphicon glyphicon-home apartmentListItemSymbol"></span></div>
    <div class="col-lg-3">Eingezogen am<br/>{{apartment.moveInDate  | date: 'dd.MM.yyyy'}}</div>
    <div class="col-lg-3">{{apartment.street}}<br>{{apartment.postCode}} {{apartment.city}}<br>{{getCountryTextByCode(apartment.countryCode)}}</div>
    <div class="col-lg-4"><span class="glyphicon glyphicon-envelope"></span> {{apartment.contactMailAddress}}</div>
  </div>
</div>

