
#newApartmentBtn {
    text-align: left;
}

#appartmentList {
    width: 80%;
    margin: auto;
}

.apartmentListItem {
    background-color: #ECF0F1;
    padding: 1em;
    margin-top: 1em;
}

.apartmentListItemSymbol {
    font-size: 3em;
    color: #34495E;
}