<h1>Wohneinheit {{apartment.id ? 'bearbeiten' : 'erstellen'}}</h1>
<br/>
<div id="apartmentEditor">
    <!--<div class="container">-->
        <form (ngSubmit)="onSubmit()" #apartmentForm="ngForm">
            <div class="form-group">
                <label>Einzugsdatum</label>
                <input class="input form-control" name="moveInDate" [value]="apartment.moveInDate"
                       (input)="apartment.moveInDate = $event.target.value" type="date" required/>
            </div>
            <div class="form-group">
                <label>Straße</label>
                <input class="input form-control" name="street" [value]="apartment.street"
                       (input)="apartment.street = $event.target.value" type="text" required/>
            </div>
            <div class="form-group">
                <label>PLZ</label>
                <input class="input form-control" name="postCode" [value]="apartment.postCode"
                       (input)="apartment.postCode = $event.target.value" type="text" required/>
            </div>
            <div class="form-group">
                <label>Ort</label>
                <input class="input form-control" name="city" [value]="apartment.city"
                       (input)="apartment.city = $event.target.value" type="text" required/>
            </div>
            <div class="form-group">
                <label>Land</label>
                <select class="form-control" name="countryCode" [(ngModel)]="apartment.countryCode" required>
                    <option *ngFor="let country of supportedCountries" value="{{country[0]}}">{{country[1]}}</option>
                </select>
            </div>
            <div class="form-group">
                <label>Kontakt Email Adresse</label>
                <input class="input form-control" name="contactMailAddress" [value]="apartment.contactMailAddress"
                       (input)="apartment.contactMailAddress = $event.target.value" type="text" required/>
            </div>
            <br>
            <div class="row">
                <div class="col-xs-4">
                    <button routerLink="/apartments" class="btn btn-default btn-block">zur Wohnungsübersicht</button>
                </div>
                <div class="col-xs-offset-4 col-xs-4">
                    <button type="submit" class="btn btn-block greenButton">speichern</button>
                </div>
            </div>
        </form>
    <!--</div>-->
</div>

