/* You can add global styles to this file, and also import other style files */

body {
    background-color: #34495E;
}

h1 {
    text-align: center;
    color: #ECF0F1;
}

.greenButton {
    background-color: #26C281;
    color: #ECF0F1;
}